/*
 #9F84BD Purple Mountain Majesty
 #C09BD8 Wisteria
 #EBC3DB Orchid Pink
 #EDE3E9 Lavender Blush
 #E6E4CE Eggshell
*/

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #EBC3DB;
}

.text {
  color: #EDE3E9;
  font-size: 1.2rem;
}

.not-read {
  background: rgb(77, 77, 77) !important;
}

.header__container {
  display: flex;
  justify-content: center;
  background: #9F84BD;
  box-shadow: .3rem 0 1rem .3rem #9F84BD;
}

.header__title {
  font-size: 5rem;
  padding: 1rem 0 1rem 0;
}

.library__container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.library__card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: #EDE3E9;
  background: linear-gradient(#9F84BD, #853db6);
  padding: 2rem;
  border-radius: 1.5rem;
}

.library__card-info {
  margin: 1rem 0 1rem 0;
}

.library__card-button--delete {
  position: absolute;
  right: 2rem;
  top: 1rem;
  color: #E6E4CE;
  font-size: 3rem;
  text-align: end;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.library__card-button--delete:hover {
  transform: scale(1.5);
}

.library__card-button--read {
  color: #E6E4CE;
  text-align: end;
}

.library__add-button {
  background: #E6E4CE;
  color: #a09e8e;
  font-size: 4rem;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: .2rem .2rem .1rem rgba(0, 0, 0, .2);
}

.library__add-button:hover {
  filter: brightness(90%);
}

.library__new-book-dropdown {
  position: relative;
}

.library__form {
  position: absolute;
  top: -1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient( #9F84BD, #853db6);
  padding: 2rem;
  border-radius: 1.5rem;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  box-shadow: .2rem .2rem .2rem .1rem rgba(0, 0, 0, .2);
}

.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(1rem);
}

.library__form > input {
  background: #EDE3E9;
  color: #853db6;
  font-size: 1.2rem;
  border: none; 
  margin-bottom: 0.8rem;
  margin-top: .2rem;
  text-align: center;
}

input:invalid {
  border: 0.1rem solid red;
}

.library__form-submit {
  margin-top: 1rem !important; 
  background: #C09BD8;
  border: none;
  border-radius: .5rem;
  width: 50%;
  height: 2rem;
}

.library__form-submit:hover {
  filter: brightness(90%);
  cursor: pointer;
}